<%- include("../layouts/adminHeader") %>
<script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
<script src="/js/dashboard.js" defer></script>
<!--  Main wrapper -->
<div class="body-wrapper">
  <style>
    .dashboard-tiles {
      height: 120px;
      background-color: #08686B;
      border-radius: 5px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .tile-heading {
      font-size: 15px;
      font-weight: 500;
      color: rgb(224, 224, 224);
    }
    .tile-value {
      font-size: 20px;
      font-weight: 600;
      color: rgb(224, 224, 224);
    }
    .time-container {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    .time-frames {
      width: 130px;
      height: 30px;
      background-color: #08686B;
      border: 2px solid #08686B;
      border-radius: 5px;
      color: rgb(224, 224, 224);
      transition: all 0.3s;
    }
    .time-frames:hover {
      background-color: transparent;
      color: #08686B;
    }
    .time-frame-active {
      background-color: transparent;
      color: #08686B;
    }
    .sales-div{
      background-color: #08686B;
      height: 400px;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
    }
    .total-div{
      width: 100%;
      height: 100px;
      padding: 10px;
      color: rgb(224, 224, 224);
    }
    .total-amount{
      font-size: 20px;
      font-weight: 700;
    }
    .payment-graph{
      width: 55%;
      align-self: center;
    }
  </style>
  <%- include("../layouts/adminNavbar") %>

  <div class="container-fluid">
    <!--  Row 1 -->
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-md-3 p-1">
            <div class="dashboard-tiles">
              <div class="tile-heading">Total Customers</div>
              <div class="tile-value" data-customer>--</div>
            </div>
          </div>
          <div class="col-md-3 p-1">
            <div class="dashboard-tiles">
              <div class="tile-heading">Pending Orders</div>
              <div class="tile-value" data-pending>--</div>
            </div>
          </div>
          <div class="col-md-6 p-1">
            <div class="time-container">
              <button class="time-frames time-frame-active" data-time="today">Today</button>
              <button class="time-frames" data-time="week">Week</button>
              <button class="time-frames" data-time="month">Month</button>
              <button class="time-frames" data-time="year">Year</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 p-1">
        <div class="sales-div">
          <div class="total-div">
            <p class="tile-heading">Total Sales</p>
            <p class="total-amount">&#8377;<span data-sales-total>--</span></p>
          </div>
          <div class="sales-graph">
            <canvas id="sales-chart"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-1">
        <div class="sales-div">
          <div class="p-2">
            <p class="tile-heading">Payment methods</p>
          </div>
          <div class="payment-graph">
            <canvas id="payment-chart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 p-1">
        <div class="sales-div">
          <div class="p-2">
            <p class="tile-heading">Categories</p>
          </div>
          <div class="payment-graph">
            <canvas id="category-chart"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-1">
        <div class="sales-div">
          <div class="p-2">
            <p class="tile-heading">Top selling Products</p>
          </div>
          <div class="sales-graph">
            <canvas id="products-chart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("../layouts/adminFooter") %>
