<%- include("../layouts/adminHeader") %>
<style>
  .table>thead {
  vertical-align: top;
}</style>
<!--  Main wrapper -->
<div class="body-wrapper">
  <%- include("../layouts/adminNavbar") %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12"><h2>Sales Report</h2></div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="date-div">
          <div class="date-title">From Date :</div>
          <input type="date" name="" id="from-date" class="form-control" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="date-div">
          <div class="date-title">To Date :</div>
          <input type="date" id="to-date" name="" class="form-control" />
        </div>
      </div>
      <div class="col-md-2 pt-3">
        <button class="btn btn-primary" data-btn-generate>
          Generate Report
        </button>
      </div>
      <div class="col-md-2 pt-3">
        <button class="btn btn-primary " onclick="generatePDF()">Download as PDF</button>
      </div>
      <div class="col-md-2 pt-3">
        <button class="btn btn-primary" onclick="tableToCSV()">Download as CSV</button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <table class="table table-bordered" id="report-table">
          <thead>
            <tr>
              <th scope="col">Invoice no</th>
              <th scope="col">Customer</th>
              <th scope="col">Order Status</th>
              <th scope="col">Shipping Address</th>
              <th scope="col">Order Date</th>
              <th scope="col">Total product(s)</th>
              <th scope="col">Payment method</th>
              <th scope="col">Payment Status</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.14/jspdf.plugin.autotable.min.js" defer></script>

<script src="/js/utils/sales.js" defer></script>
<%- include("../layouts/adminFooter") %>
