<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SoundTastic | Admin</title>
  <link rel="shortcut icon" href="/images/logos/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/styles.min.css" />
  <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="/admin" class="text-nowrap logo-img">
            <img src="/images/logos/logo-white.png" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/dashboard" aria-expanded="false">
                <span>
                    <i class="fa-solid fa-chart-simple"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/sales" aria-expanded="false">
                <span>
                    &#8377;
                </span>
                <span class="hide-menu">Sales</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">ACTIONS</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/customers" aria-expanded="false">
                <span>
                    <i class="fa-solid fa-users"></i>
                </span>
                <span class="hide-menu">Customers</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/products" aria-expanded="false">
                <span>
                    <i class="fa-solid fa-cart-flatbed"></i>
                </span>
                <span class="hide-menu">Products</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/orders" aria-expanded="false">
                <span>
                    <i class="fa-solid fa-box"></i>
                </span>
                <span class="hide-menu">Orders</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/return-requests" aria-expanded="false">
                <span>
                    <i class="fa-solid fa-rotate-left"></i>
                </span>
                <span class="hide-menu">Return requests</span>
              </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/coupons" aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-ticket"></i>
                  </span>
                  <span class="hide-menu">Coupons</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/categories" aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-boxes-stacked"></i>
                  </span>
                  <span class="hide-menu">Categories</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/banners" aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-image"></i>
                  </span>
                  <span class="hide-menu">Banners</span>
                </a>
              </li>
          </ul>
          <div class="unlimited-access hide-menu bg-light-primary position-relative mb-7 mt-5 rounded">
            
          </div>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->