<!-- HEADER -->
<header>
  <!-- TOP HEADER -->
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li>
          <a href="#"><i class="fa fa-phone"></i> +91 9876-543-210</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-map-marker"></i> Mananchira, Calicut</a>
        </li>
      </ul>
      <ul class="header-links pull-right">
        <li>
          <% if(locals.user){ %>
          <a href="/my-profile"><i class="fa fa-user-o"></i> <%= user %> / Profile</a>
          <%}else{ %>
          <a href="/login"><i class="fa fa-user-o"></i> Login / Sign up </a>
          <%} %> <% if(locals.user){ %>
          <a href="/logout"
            >&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-right-from-bracket"></i
            >Logout</a
          >
          <%} %>
        </li>
      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- LOGO -->
        <div class="col-md-3">
          <div class="header-logo">
            <a href="#" class="logo">
              <img src="/user/img/logo-white.png" alt="" />
            </a>
          </div>
        </div>
        <!-- /LOGO -->

        <!-- SEARCH BAR -->
        <div class="col-md-6">
          <div class="header-search">
            <form class="" action="/shop" method="get">
              <input class="input" placeholder="Search here" name="search" />
              <button class="search-btn">Search</button>
            </form>
          </div>
        </div>
        <!-- /SEARCH BAR -->

        <!-- ACCOUNT -->
        <div class="col-md-3 col-xs-100 clearfix">
          <div class="header-ctn">
            <!-- Wishlist -->
            <div>
              <% if(locals.user) { %>
              <a href="#">
                <i class="fa fa-heart-o"></i>
                <span>Your Wishlist</span>
                <!-- <div class="qty"></div> -->
              </a>
              <% }else{ %>
              <a onclick="showLogin()">
                <i class="fa fa-heart-o"></i>
                <span>Your Wishlist</span>
                <!-- <div class="qty"></div> -->
              </a>
              <% } %>
            </div>
            <!-- /Wishlist -->

            <!-- Cart -->
            <div>
              <% if(locals.user) { %>
              <a href="/cart">
                <i class="fa fa-shopping-cart"></i>
                <span>Your Cart</span>
                <% if(locals.cartCount){ %>
                  <div class="qty" data-cartQuantity ><%= cartCount %></div>
                <% }else{ %>
                  <div class="" data-cartQuantity ></div>
                  <% } %>
              </a>
              <% }else{ %>
              <a onclick="showLogin()">
                <i class="fa fa-shopping-cart"></i>
                <span>Your Cart</span>
              </a>
              <% } %>
            </div>
            <!-- /Cart -->

            <!-- Menu Toogle -->
            <div class="menu-toggle">
              <a href="#">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
              </a>
            </div>
            <!-- /Menu Toogle -->
          </div>
        </div>
        <!-- /ACCOUNT -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      <!-- NAV -->
      <ul class="main-nav nav navbar-nav">
        <li><a href="/home">Home</a></li>
        <li><a href="/shop">Shop</a></li>
        <!-- <li><a href="#">Speak</a></li>
          <li><a href="#">Cameras</a></li>
          <li><a href="#">Accessories</a></li>
          <li><a href="#">Accessories</a></li> -->
      </ul>
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
<!-- /NAVIGATION -->

<!-- login modal -->
<div id="login-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <h5>Please login to proceed</h5>
    <div class="confirm-modal-buttons">
      <input type="hidden" value="" id="address-id" />
      <button class="btn btn-primary" id="login-close">CLOSE</button>
      <button class="btn btn-primary" onclick="window.location.href='/login'">
        LOGIN
      </button>
    </div>
  </div>
</div>

<div id="cart-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <h5 id="add-to-cart-msg"></h5>
    <div class="confirm-modal-buttons">
      <button class="btn btn-primary" id="cart-close">OK</button>
    </div>
  </div>
</div>
