<%- include("../layouts/userHeader") %>
<div class="container-fluid h-100">
    <div class="row h-100 justify-content-center">
      <div
        class="col-12 col-lg-5 d-flex justify-content-center align-items-center"
      >
        <form action="" method="post"
          class="w-100 py-4 otp-section text-center d-flex flex-column justify-content-evenly align-items-center"
        >
        <div class="verify-icon"><i class="fa-solid fa-key"></i></div>
        <h3>Please change your password</h3>
        <div class="forgot-email col-12 col-md-7">
          <label for="">New password</label>
          <input type="password" name="" id="" />
        </div>
        <div class="forgot-email col-12 col-md-7">
          <label for="">Confirm password</label>
          <input type="password" name="" id="" />
        </div>
        <button
          href="/index.html"
          class="button btn btn-primary btn-send-otp"
          id="timer"
        >
          Change password
        </button>
        </form>
      </div>
    </div>
  </div>
  <%- include("../layouts/userFooter") %>