<%- include("../layouts/userLoginHeader") %>
<div class="container-fluid h-100">
  <div class="row h-100 justify-content-center">
    <div
      class="col-12 col-lg-5 d-flex justify-content-center align-items-center"
    >
      <form
        id="form"
        class="w-100 py-4 otp-section text-center d-flex flex-column justify-content-evenly align-items-center"
      >
        <div class="verify-icon"><i class="fa-solid fa-key"></i></div>
        <h3>Please change your password</h3>
        <div class="otp-error text-warning" id="error"></div>
        <div class="forgot-email col-12 col-md-7 position-relative">
          <label for="">New password</label>
          <input
            type="password"
            name=""
            id="password"
            required
            onblur="removeWhiteSpace(this)"
          />
          <div class="eye-icon" id="show-password">
            <i class="fa-solid fa-eye-slash"></i>
          </div>
        </div>
        <div class="forgot-email col-12 col-md-7">
          <label for="">Confirm password</label>
          <input
            type="password"
            name=""
            id="conf-password"
            required
            onblur="removeWhiteSpace(this)"
          />
        </div>
        <button
          href="/index.html"
          class="button btn btn-primary btn-send-otp"
          id="timer"
        >
          Change password
        </button>
      </form>
    </div>
  </div>
</div>
<script src="/js/login.js"></script>
<script src="/js/user.js"></script>
<script>
  const form = document.getElementById("form");
  form.addEventListener("submit", async (event) => {
    event.preventDefault();
    const password = document.getElementById("password").value;
    const confPassword = document.getElementById("conf-password").value;
    const error = document.getElementById("error");
    if (password !== confPassword) {
      return (error.innerText = "Passwords must match");
    }
    const rawData = await fetch("/change-password", {
      method: "PATCH",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ password }),
    });

    if (rawData.ok) {
      const data = await rawData.json();
      if (data.status === "success") {
        window.location.href = "/";
      } else {
        error.innerText = data.message;
      }
    }
  });
</script>

<%- include("../layouts/userLoginFooter") %>
