<%- include("../layouts/userHeader") %>
<div class="container-fluid h-100">
    <div class="row h-100 justify-content-center">
      <div
        class="col-12 col-lg-5 d-flex justify-content-center align-items-center"
      >
        <form
          action="/forget-password"
          method="post"
          class="w-100 py-4 otp-section text-center d-flex flex-column justify-content-evenly align-items-center px-2"
        >
          <div class="verify-icon"><i class="fa-solid fa-envelope"></i></div>
          <h3>Please enter your email</h3>
          <div class="forgot-email col-12 col-md-7">
            <label for="">Enter your email</label>
            <input type="email" name="email" id="" />
          </div>
          <button
            href="/index.html"
            class="button btn btn-primary btn-send-otp"
            id="timer"
          >
            Sent OTP
          </button>
        </form>
      </div>
    </div>
  </div>

  <%- include("../layouts/userFooter") %>
