<%- include("../layouts/userHeader") %>
<div class="container-fluid h-100">
    <div class="row h-100 justify-content-center">
      <div
        class="col-12 col-lg-5 d-flex justify-content-center align-items-center"
      >
        <form id="form"
          class="w-100 py-4 otp-section text-center d-flex flex-column justify-content-evenly align-items-center px-2"
        >
          <div class="verify-icon"><i class="fa-solid fa-envelope"></i></div>
          <h3>Please enter your email</h3>
          <div class="otp-error">
            <div class="text-warning" id="error"></div>
          </div>
          <div class="forgot-email col-12 col-md-7">
            <label for="">Enter your email</label>
            <input type="email" name="email" id="email"  required/>
          </div>
          <button
            href="/index.html"
            class="button btn btn-primary btn-send-otp"
            id="timer"
          >
            Sent OTP
          </button>
        </form>
      </div>
    </div>
  </div>
  <script>
      const form=document.getElementById("form");
      form.addEventListener('submit',async (event)=>{
        event.preventDefault();
        const error=document.getElementById('error')
        const email=document.getElementById('email').value
        if(!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)){
          return error.innerText="Invalid email address"
        }
        const rawData= await fetch('/forget-password',{
          method:"POST",
          headers:{
            'Content-Type':'application/json'
          },
          body:JSON.stringify({email})
        })
        if(rawData.ok){
          const data=await rawData.json();
          if(data.status==='success'){
            window.location.href="/verify-mail"
          }else{
            error.innerText=data.message;
          }
        }
      })
  </script>

  <%- include("../layouts/userFooter") %>
