<%- include("../layouts/userHeader") %> <%- include("../layouts/userNavbar") %>

<div class="section mb-5">
  <!-- container -->
  <div class="container">
    <h3>Order details</h3>
    <div class="row mb-5 orders">
      <div class="col-md-7 orders">
        <div class="row">
          <div class="col-md-3">
            <div class="cart-image">
                <img src="\images\products\1699589967313_861230709_246312_1_nusqsj.webp" alt="">
            </div>
          </div>
          <div class="col-md-4">
            <p>hjsldfhjldshfhdskjshfjdsl</p>
            <p>Qty:3</p>
          </div>
          <div class="col-md-2">3452</div>
          <div class="col-md-3">button.btn.btn.</div>
        </div>
        <div class="row">
          <div class="col-md-3">fhfghfg</div>
          <div class="col-md-4">
            fsadfdsagfsgfdsgfsgdsfd jfdsjgklsjhkkjshkjkllhskj
          </div>
          <div class="col-md-2">dsfads</div>
          <div class="col-md-3">dassd</div>
        </div>
        <div class="row">
            <div class="col-md-3">fhfghfg</div>
            <div class="col-md-4">
              fsadfdsagfsgfdsgfsgdsfd jfdsjgklsjhkkjshkjkllhskj
            </div>
            <div class="col-md-2">dsfads</div>
            <div class="col-md-3">dassd</div>
          </div>
      </div>

      <div class="col-md-5 bg-primary">dsdskgjdklgjkl</div>
    </div>
  </div>
</div>

<%- include("../layouts/userFooter") %>
