<%- include("../layouts/userHeader") %> <%- include("../layouts/userNavbar") %>

<div class="section mb-5">
  <div class="container orders">
    <div class="row mb-5 heading item-center">
        <div class="col-md-12 item-center"><h2>Order successfully placed</h2></div>
        <div class="col-md-12 item-center"><button class="btn btn-primary" onclick="window.location.href='/orders'">View Orders</button><div class="">&nbsp;&nbsp;</div><button class="btn btn-primary" onclick="window.location.href='/home'">Back to Home</button></div>
    </div>
  </div>
</div>

<%- include("../layouts/userFooter") %>
