<%- include("../layouts/userLoginHeader") %>

<div class="container-fluid h-100">
  <div class="row h-100 justify-content-center">
    <div
      class="col-12 col-lg-5 d-flex justify-content-center align-items-center"
    >
      <div
        class="w-100 py-4 otp-section text-center d-flex flex-column justify-content-evenly align-items-center"
      >
        <div class="verify-icon"><i class="fa-solid fa-envelope"></i></div>
        <h3>Please Verify Account</h3>
        <p>
          We emailed you the six digit code to
          <strong><%= email %></strong>.<br />Enter the code below to confirm
          your email address
        </p>
        <button class="button btn btn-primary btn-contdown" id="timer" disabled>
          1:00
        </button>
        <div class="otp-container">
          <div class="otp-error text-warning" id="error"></div>
          <input type="number" id="" class="otp" min="0" max="9" />
          <input type="number" id="" class="otp" min="0" max="9" />
          <input type="number" id="" class="otp" min="0" max="9" />
          <input type="number" id="" class="otp" min="0" max="9" />
          <input type="number" id="" class="otp" min="0" max="9" />
          <input type="number" id="" class="otp" min="0" max="9" />
        </div>
        <button class="btn btn-blue btn-primary" id="verify">Verify</button>
      </div>
    </div>
  </div>
</div>
<script src="/js/verifyOtp.js"></script>
<script>
  verifyBtn.addEventListener("click", async () => {
    let userOtp = "";
    otp.forEach((item) => {
      userOtp += item.value;
    });
    if (userOtp.length < 6) {
      error.innerText = "OTP must contains 6 digits";
      return false;
    }
    const rawData = await fetch("/verify-otp", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ otp: userOtp }),
    });
    if (rawData.ok) {
      const data = await rawData.json();
      if (data.status === "success") {
        window.location.href = "/";
      } else {
        error.innerText = data.message;
      }
    }
  });
</script>
<%- include("../layouts/userLoginFooter") %>
