/* utility classes */

.input-style{
    background-color:bisque;
     border: 2px solid rgb(117, 117, 117);
     text-indent: 10px;
     font-size: 1rem;
     font-weight: 500;
}
input[type="number"]::-webkit-inner-spin-button,.otp::-webkit-outer-spin-button{
    display: none;
}


/* utility classes */



.search-container{
    max-width: 500px;
    height: 50px;
    background-color: red;
    border-radius: 9px;
}
.search-container>input{
    border-radius: 9px 0 0 9px;
    border: 2px solid rgb(114, 114, 114);
    text-indent: 15px;
    font-size: 1rem;
}
.btn-block{
    width: 100px;
}
#add-category{
 height: 40px;
 text-indent: 10px;
}
.btn-list{
    width: 75px;
}
.alert-category{
    margin-top: 30px;
    width: 100%;
    height: 60px;
    color: black;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    visibility: hidden;
    text-align: center;
}
.add-product-row{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}
.add-product-row >.image-container{
    display: flex;
}
.label-image>input{
position: absolute;
top: -1000px;
}
label{
    color: black;
}
.label-image{
    width: 150px ;
    height: 150px;
    border: 2px solid rgb(117, 117, 117);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    background-color:bisque;
    color: black;
    position: relative;
}
.label-image>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    z-index: -1;
}
.label-image>.img-show{
    z-index: 0;
}
.label-image>span{
    z-index: 1;
    background-color: aliceblue;
}
.input-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;

}
.input-wrapper{
    display: flex;
    flex-direction: column;
}
.input-price-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    

}
.input-price-wrapper > .input-wrapper{
    width: 50%;
}
.input-wrapper input {
 width: 100%;
 height: 40px;
    


}

.input-wrapper >select{
    height: 40px;
    

}

.add-product-row>button{
   margin-left: auto;
   margin-right: 20px;
}
.product-img{
  width: 150px;
  height: 150px;
  background-color: rgb(159, 161, 160) !important;
}
.product-img>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product-actions{
  width: 150px;
  height: 150px;
  justify-content: space-between;

}
.product-actions button{
    width: 100px;
}
tr{
    border-bottom: 2px solid rgba(108, 108, 108, 0.407);
}
td{
    border: none;
}
.error{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}
.error-modal{
    margin-top: 0;
    height: 20px;
    color: red;
   position: absolute;
   top: -15px;
}