@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: white;
}
/* utils */

.btn-red{
    background-color: #D10024;
    color: #fff;
    width: 125px;
    height: 45px;
    font-weight: 500;
    font-size: 18px;
}
.btn-red:hover{
    background-color: #f80029;
    color: #fff;

}
.red{
    color: #D10024;
}

/* utils */

.login{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #C9C8C8;
}
.signup{
    
    height: 650px;
}
.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;


}
.login-input >label{
    align-self: flex-start;
    font-weight: 500;
}
.login-input{
    
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: #9e9e9e6a;
    position: relative;
}
.login-input >input{
    width: 100%;
    height: 40px;
    text-indent: 10px;
    font-weight: 500;
}
.error{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff002b2f;
    border:2px solid #f80029;
    color: #f80029;
    font-weight: 500;
    visibility: hidden;
}
.eye-icon{
    width: 40px;
    height: 40px;
    position:absolute;
    align-self:flex-end ;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.eye-icon>i{
    font-size: 16px;
    color: #D10024;
}


/* otp section */
.otp-section{
    border-radius: 9px;
    background-color: #D10024;
    color: white;
}
.otp-container{
    margin: 10px;
}

.otp{
    width: 50px;
    height: 50px;
    text-align: center;
    font-weight: 500;
}
.otp::-webkit-inner-spin-button,.otp::-webkit-outer-spin-button{
    display: none;
}
.btn-blue{
    width: 200px;
    height: 50px;
    color: white;
}

.verify-icon{
    width: 60px;
    height: 60px;
    background-color: white;
    color: #D10024;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.btn-contdown{
    width: 150px ;
    pointer-events: none;
    cursor: pointer;
}
.forgot-email{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.forgot-email >input{
    height: 40px;
    width: 100%;
    text-indent: 10px;
    font-weight: 500;
}
.forgot-email >label{
    align-self: flex-start;
}
/* otp section */





@media only screen and (max-width: 576px) {
    .login-input {
        width: 100%;
    }
    .error{
        width: 100%;
    }
    .otp{
        width: 30px;
        height: 30px;
        text-align: center;
        font-weight: 500;
        margin: 0;
    }
}