.banner{
    padding: 0 10px;
}
.carousel__container{
    max-width: 100%;
    height: 390px;;
    margin: 0 auto;
    position: relative;
}
.carousel__item{
    width: 100%;
    height: 100%;
    background-color: beige;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all ease-in .2s;
    opacity: 0;
    display: none;
    cursor: pointer;
}
.carousel__item > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel__item--select{
    opacity: 1;
    display: block;
}
.carousel__nav{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;

}

.carousel__btn{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.475);
    margin: 0 5px;
    cursor: pointer;
    transition: all ease-in .3s;

}
.carousel__btn:hover{
    
    background-color: rgb(255, 255, 255);
}
.carousel__btn--select{
    background-color: rgb(255, 255, 255);
}

.banner__text{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.407);
    top: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner__title{
    font-size:20px;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
}
.banner__description{
    font-size:16px;
    color: white;
    text-align: center;
}