@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

* {
    padding: 0;
    margin: 0;
}
body{
    background-color: #e2e2e2;
}
/* util */

.hidden{
    display: hidden;
}
.item-center {
    display: flex;
    justify-content: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-inner-outer-button {
    display: none;
}

.error {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f80029;
    font-weight: 700;
}

.red {
    color: #D10024;
}

.d-flex {
    display: flex !important;
}

.align-center {
    align-items: center !important;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.btn-ok {
    margin-top: 5px;
    width: 100px;
    height: 40px;
}

.filters {
    padding: 10px 0;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
  }
  .filters select {
    width: 100%;
  }
  .filter-btn{
    height: 90px;
  }
  
  label {
    margin-right: 10px;
  }
  
  select {
    padding: 8px;
    font-size: 14px;
  }


input[type=radio] {
    --s: 1em;
    /* control the size */
    --c: #D10024;
    /* the active color */

    height: var(--s);
    aspect-ratio: 1;
    border: calc(var(--s)/8) solid #939393;
    padding: calc(var(--s)/8);
    background:
        radial-gradient(farthest-side, var(--c) 94%, #0000) 50%/0 0 no-repeat content-box;
    border-radius: 50%;
    outline-offset: calc(var(--s)/10);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    font-size: inherit;
    transition: .3s;
    font-size: 30px;
}

input[type=radio]:checked {
    border-color: var(--c);
    background-size: 100% 100%;
}

input[type=radio]:disabled {
    background:
        linear-gradient(#939393 0 0) 50%/100% 20% no-repeat content-box;
    opacity: .5;
    cursor: not-allowed;
}

input[type=radio]:focus {
    outline: none
}

label {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
    cursor: pointer;

}

.cursor-pointer {
    cursor: pointer;
}


/* util */



.shop{
    box-shadow: 9px 10px 17px -6px rgba(0,0,0,0.53);
-webkit-box-shadow: 9px 10px 17px -6px rgba(0,0,0,0.53);
-moz-box-shadow: 9px 10px 17px -6px rgba(0,0,0,0.53);
}

.shop-img {
    height: 200px;
}

.shop-img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: right;
}

.product {
    height: 450px;
    background-color: rgb(255, 255, 255);
    box-shadow: 9px 10px 17px -6px rgba(0,0,0,0.53);
-webkit-box-shadow: 9px 10px 17px -6px rgba(0,0,0,0.53);
-moz-box-shadow: 9px 10px 17px -6px rgba(0,0,0,0.53);
transition: all ease-in-out .3s;
}

.product-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 250px);
}

.product-img {
    width: 100%;
    height: 250px;
    padding: 10px;
}

.product-img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.original-price {
    font-size: large;
    font-weight: 600;
    color: #D10024;
    margin-right: 5px;
}

.mrk-down {
    font-weight: 500;

}

.add-to-cart-div {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out .3s;

}

.circle:hover {
    background-color: #D10024;
    color: white;
    transform: rotate(360deg);
}

.wishlist-active {
    color: #D10024;
}

.wishlist-active:hover {
    color: white;
}

.header-logo>a {
    display: block;
    width: 200px;
    height: 70px;
    padding: 0;
}

.header-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.show-more {
    display: flex;
    justify-content: center;
}

.image-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-list {
    width: 100px;
    height: 400px;
}

.image-div {
    position: relative;
    width: 400px;
    height: 400px;
    border: 2px solid #D10024;


}

.image-div>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.lens {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(214, 168, 31, 0.314);
    border: 2px solid rgb(214, 168, 31);
    top: 0;
    cursor: crosshair;
    opacity: 0;
    transition: all 3ms;
}

.lens-active {
    opacity: 1;
}

.zoom {
    position: absolute;
    width: 400px;
    height: 400px;
    left: calc(100% + 50px);
    top: 0;
    display: none;
    z-index: 10;
}

.zoom-active {
    display: block;
}

.image-thumb {
    width: 100px;
    height: 100px;
    padding: 5px;
}

.image-thumb>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-thumb-active {
    border: 2px solid #D10024;
}

.product-details {
    height: 400px;
    /* background-color: green; */
}

.prod-buttons>button {
    width: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}

.yellow-btn {
    margin-right: 10px;
    display: inline-block;
    padding: 12px 12px;
    background-color: #c86000;
    border: none;
    border-radius: 40px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.yellow-btn:hover,
.yellow-btn:focus {
    opacity: 0.9;
    color: #FFF;
}

.prod-description>p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
}

.prod-brand,
.prod-review,
.prod-price {
    display: flex;
    align-items: center;
    width: 100%;
}

.prod-review>h5 {
    align-self: center;
    padding-top: 10px;
    margin-right: 20px;
}

.prod-price>h3 {
    margin-right: 20px;
    color: #D10024;
}

.prod-price>h5 {
    color: rgb(139, 137, 137);
}

.m-left {
    margin-left: 30px;

}

.in-stock {
    color: green;
}

.out-of-stock {
    color: red;
}



/* profile styles */

.option-section * {
    color: white;
}

.option-section {
    width: 40%;
    height: fit-content;
    padding-right: 10px;
}

.details-section {
    width: 60%;
    height: 100%;

}

.name-container {
    width: 100%;
    background-color: #D10024;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 9px 9px 0 0;
    
    box-shadow: 9px 10px 17px -6px rgba(0,0,0,0.53);
-webkit-box-shadow: 9px 10px 17px -6px rgba(0,0,0,0.53);
-moz-box-shadow: 9px 10px 17px -6px rgba(0,0,0,0.53);
}

.avatar {
    width: 70px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
    border: 3px solid white;
}

.avatar>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.option {
    height: 50px;
    background-color: #D10024;
    margin-top: 15px;
    font-size: 18px;
    display: flex;
    align-items: center;
    border-radius: 0 9px 0 9px;
    padding-left: 90px;
    color: white;
    cursor: pointer;
    box-shadow: 9px 10px 17px -6px rgba(0,0,0,0.53);
-webkit-box-shadow: 9px 10px 17px -6px rgba(0,0,0,0.53);
-moz-box-shadow: 9px 10px 17px -6px rgba(0,0,0,0.53);
}

.option:hover {
    opacity: 0.9;
}

.wallet-container {
    margin-top: 20px;
    width: 100%;
    height: 270px;
    background-image: url('/user/img/metal.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    border-radius: 9px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    -webkit-box-shadow: 10px 10px 20px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 20px -4px rgba(0, 0, 0, 0.75);
}

.wallet-container * {

    font-family: 'Nova Square', sans-serif;
    background-color: #565656;
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: 2px 5px 5px rgba(255, 255, 255, 0.3);
}

.wallet-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.wallet-balance {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.wallet-name {
    text-transform: uppercase;
}

.profile-details {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    margin: 0 10px 10px;
    box-shadow: 9px 10px 17px -6px rgba(0,0,0,0.53);
-webkit-box-shadow: 9px 10px 17px -6px rgba(0,0,0,0.53);
-moz-box-shadow: 9px 10px 17px -6px rgba(0,0,0,0.53);
}

.profile-details .profile-form input {
    width: 400px;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    text-indent: 10px;
}

.profile-form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.add-address {
    width: 150px;
    height: 45px;
}

.add-address:hover,
.add-address:active {
    opacity: 0.9;
}

.address {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 0;
}

.address>input[type="radio"] {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    accent-color: #D10024;
    border: 2px solid #D10024;
    cursor: pointer;
}

.address-details {
    width: 500px;
    min-height: 90px;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
}

.btn-address-div {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.btn-address-div>button {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 9px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #15161D;
}

.btn-address-div>button:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #ffffff;
    margin: 10% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 450Px;
    /* Could be more or less, depending on screen size */
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.confirm-modal-buttons>button {
    width: 150px;
    height: 50px;
    margin: 0 5px;
}

/* The Close Button */
.message-div {
    display: none;
}


.profile-edit-buttons {
    display: none;
}

.profile-edit-buttons>button {
    width: 100px;
}

.change-pwd-container>input {
    width: 300px;
    height: 40px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;

}

.change-pwd-container {
    display: flex;
    flex-direction: column;
}

button:focus {
    border: none !important;
    outline: none !important;
}

.new-password-div {
    display: none;
}

.pagination-btn {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid red;
    font-size: 18px;
    margin: 10px;
}

.pagination-btn:hover>i {
    transform: scale(1.2);
}

.pagination-disabled,
.pagination-disabled:hover {
    cursor: not-allowed;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #15161D;
    color: #15161D;
    font-size: 18px;
    margin: 10px;
    opacity: .6;
}

.cart * {
    font-weight: 500;
}

.cart-details>div {
    margin-top: 0;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 9px 10px 17px -6px rgba(0,0,0,0.53);
-webkit-box-shadow: 9px 10px 17px -6px rgba(0,0,0,0.53);
-moz-box-shadow: 9px 10px 17px -6px rgba(0,0,0,0.53);
}

.cart-details * {
    margin: 10px 0;
    /* color: white; */
}

.cart-details>hr {
    border: 1px solid rgba(49, 49, 49, 0.341);
}

.coupon {
    flex-direction: column;
}

.coupon>label {
    margin: 0;
}

.coupon-input {
    width: 100%;
    max-width: 400px;
}

.coupon-input>input {

    height: 50px;
    width: 75%;
    text-indent: 10px;
}

.coupon-price {
    color: rgb(9, 139, 9);
}

.btn-apply {
    background-color: #15161D;
    color: white;
    width: 25%;
    border: none;

}

.btn-checkout {
    width: 100%;
    height: 40px;
    max-width: 400px;
    background-color: #15161D;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 9px;
}

.btn-apply:hover,
.btn-checkout:hover {
    opacity: .9;
}

.cart-products>div {
    padding: 40px 40px;
    background-color: #ffffff;
    box-shadow: 9px 10px 17px -6px rgba(0,0,0,0.53);
-webkit-box-shadow: 9px 10px 17px -6px rgba(0,0,0,0.53);
-moz-box-shadow: 9px 10px 17px -6px rgba(0,0,0,0.53);
}

.cart-image {
    width: 100%;
    height: 150px;
}

.cart-image>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-card {
    border-bottom: 1px solid rgba(112, 112, 112, 0.618);
    padding: 5px 0;

}

.cart-card>div {
    margin: 10px 0;
}

.cart-title {
    height: 100%;
    align-self: center;
}

.btn-counter {
    width: 30px;
    height: 30px;
    color: rgb(255, 255, 255);
    border: none;
    background-color: #D10024;
    font-size: larger;
    font-weight: 700;
}

.btn-counter:hover {
    opacity: .9;
}

.btn-counter:disabled {
    opacity: 0.9;
}

.counter {
    width: 50px;
    height: 30px;
    color: black;
    text-align: center;
}

.counter:focus {
    outline: none;
}

.cart-remove {
    background-color: transparent;
    width: 40px;
    height: 40p;
    font-size: 25px;
    border: none;
    color: #565656;
}

.cart-empty-image {
    width: 80vw;
    height: 80vw;
    max-width: 400px;
    max-height: 400px;
    background-image: url("/user/img/empty-cart.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#checkout-stock {
    font-size: 16px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    list-style: square inside url('/user/img/circle-xmark-regular.svg');
    text-indent: -20px;
    padding-left: 20px;
}

li::marker {
    font-size: 30px;
}

#checkout-stock span {
    color: rgb(246, 47, 47);
}

.checkout .address-div,
.order-summary,
.payment,
.orders>.row,
.order-details {
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    padding: 20px;
    box-shadow: 9px 10px 17px -6px rgba(0,0,0,0.53);
-webkit-box-shadow: 9px 10px 17px -6px rgba(0,0,0,0.53);
-moz-box-shadow: 9px 10px 17px -6px rgba(0,0,0,0.53);
}

.order-summary {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    color: #15161D;
}

.order-summary>.row {
    margin: 10px 0;
}

.order-summary>.total-div {
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
    border-top: 2px solid rgba(128, 128, 128, 0.705);
}

.order-summary .sh-price {
    color: rgb(66, 183, 66);

}

.address>.address-details {
    margin: 0 20px;
}

.address>.address-details>p {
    margin-bottom: 20px;
    color: black;
}

#checkout-address {
    padding: 20px;
    width: 100%;
}

#checkout-address button {
    border-radius: 9px;
}

.cod .payment-method {
    font-size: 20px;
    --c: #000;
}

.payment>.btn-checkout {
    margin: 10px 0;
    align-self: center;
}

.right {
    display: flex;
    justify-content: flex-end;

}
.btn-show-coupon{
    font-size: 13px;
    padding: 5px;
    height: 50px;
}

.orders>.row {
    margin-bottom: 5px;
}

.orders>.heading>div {
    font-weight: 700;
    font-size: large;
}

.orders>.row button {
    margin: 5px 0;
}

.order-details {
    margin-bottom: 5px;
}

.order-details::before {
    border: none;
}

.bold>div {
    font-weight: 500;
    font-size: 16px;
}

.reason {
    margin-bottom: 10px;
    font-weight: 500;
    text-indent: 5px;
}

.w-modal {
    padding: 10px;
    background-color: #e8e8e8;
}

.w-modal>.row {
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 5px;
    border-radius: 9px;
    padding: 5px;
    -webkit-box-shadow: 24px 26px 19px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 24px 26px 19px -25px rgba(0, 0, 0, 0.75);
    box-shadow: 24px 26px 19px -25px rgba(0, 0, 0, 0.75);
}

.w-modal p {
    font-weight: 500;
    font-size: 16px;
}

.w-modal>button {
    width: 100px;
    height: 40px;
    margin-top: 10px;
}

.black {
    color: #000;
}
.coupon-codes-container{
    width: 100%;
}
.coupons{
    width: 100%;
    height: 40px;
    margin: 10px 0 20px;
}
.btn-coupon-copy{
    width: 100px;
    font-size: 20px;
    background-color: #121212;
    color: white;
    border: none;

}
.btn-coupon-copy:hover{
    opacity: .9;
}
.coupon-input{
    font-size: 18px;
    text-indent: 10px;
    background-color: rgb(191, 209, 191);
    border: 1px solid rgb(137, 137, 137);
    font-weight: 500;
}
.coupon-input:focus{
    outline: none;
}
.coupon-min{
    font-weight: 500;
    color: green;
}
.error-coupon{
    color: #D10024;
    font-size: 14px;
}

@media screen and (max-width: 992px) {
    .container-profile {
        flex-direction: column;
    }

    .option-section {
        width: 100%;
        flex-direction: row;
        padding-right: 0;
    }

    .option-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .option {
        padding: 0;
        width: 200px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
    }

    .details-section {
        width: 100%;
        margin-top: 10px;
    }

    .cart-details>div {
        margin-top: 20px;
    }

    .order-summary {
        margin-top: 15px;
    }

    .right {
        display: block;
    }

    .details-div {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .option-container {
        flex-direction: column;
    }

    .address-details {
        width: 100%;
    }

    .profile-details .profile-form input {
        width: 100%;
    }

    .option {
        width: 100%;
    }

    .cart-image {
        /* max-height: 300px; */
        height: calc(100vw - 10%)
    }

    .cart-card>div {
        display: flex;
        justify-content: center;
    }

    .cart-price-div {
        flex-direction: column;
    }

    input[type=radio] {
        font-size: 25px;
    }

}